<div class="gantt-view webkit-scrollbar-all" ng-controller="GanttViewCtrl">
  <div class="navbar record-toolbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="btn-group">
          <button class="btn" ng-click="onMode('year')" ng-class="{ active: isMode('year') }"><span x-translate>Year</span></button>
          <button class="btn" ng-click="onMode('month')" ng-class="{ active: isMode('month') }"><span x-translate>Month</span></button>
          <button class="btn" ng-click="onMode('week')" ng-class="{ active: isMode('week') }"><span x-translate>Week</span></button>
          <button class="btn" ng-click="onMode('day')" ng-class="{ active: isMode('day') }"><span x-translate>Day</span></button>
        </div>
        <div class="btn-group">
          <button class="btn" ng-click="onRefresh()"><span x-translate>Refresh</span></button>
          <button class="btn" ng-click="onPrint()"><span x-translate>Print</span></button>
          <button class="btn" ng-click="onSortByStartDate()"><span x-translate>Sort by Start date</span></button>
          <button class="btn" ng-click="onSortByEndDate()"><span x-translate>Sort by End date</span></button>
        </div>
        <div class="btn-group">
          <label ng-style="{'display':'inline-block','margin-right':'10px'}" for="fromDate"><span x-translate>gantt.from</span></label>
          <div  ng-style="{'display':'inline-block'}" id="fromDate"  ng-change="onChangeDates('fromDate',fromDate)"   ui-date  ng-model="fromDate"></div>
          <label ng-style="{'display':'inline-block','margin-left':'25px','margin-right':'10px'}" for="toDate"><span x-translate>gantt.to</span></label>
          <div ng-style="{'display':'inline-block'}" id="toDate" ng-change="onChangeDates('toDate',toDate)" ui-date ng-model="toDate"></div>          
        </div>
        <div class="record-toolbar-right">
          <div ui-view-switcher class="pull-right"></div>
          <div ui-record-pager class="pull-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div ui-view-gantt x-handler="this"></div>
</div>
